{% extends 'base.html.twig' %}

{% block title %}Fin du scénario{% endblock %}

{% block body %}
    <h1>Vous avez Gagner</h1>
    <p>Merci d'avoir joué !</p>
    <a href="{{ path('story') }}">Retour à la liste des scénarios</a>
{% endblock %}
